.main-div {
	display: grid;
  	grid-template-columns: auto auto auto auto auto auto;
  	grid-gap: 10px;
  	width: 500px;
  	height: 50%;
  	background-color: #fff;
 	padding: 10px;
}
.memory-box {
	background-color: rgba(60, 57, 57, 0.93);
    text-align: center;
    border-radius: 5px;
    height: 30px;
    position: relative;
    padding: 20px 0;
    font-size: 30px;
    cursor: pointer;
}
.memory-box:hover {
	background-color: rgba(118, 115, 115, 0.93);
}
.memory-circle {
	background: #fff;
 	border-radius: 100%;
  	height: 40px;
    width: 40px;
  	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
}
#reset_button {
	padding: 17px;
    background: #3885d4;
    border-radius: 5px;
    float: right;
    position: absolute;
    font-size: 16px;
    color: white;
    left: 800px;
    top: 50px;
    cursor: pointer;
}
#reset_button:hover {
	background: #9cbbdb;
}